.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: theme-var($--theme-background-code);
    >.name{
        @extend .m-1;
    }
    >button{
        // Extends
        @extend .px-3;
        
        // Colors
        background-color: theme-var($--theme-front);
        color: theme-var($--theme-background);
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

        // Border
        border-width: 1px;
        border-style: solid;
        border-color: theme-var($--theme-accent1);
        border-radius: 50rem;
    }
    >ul{
        // Positioning
        // Flex
        display: flex;
        align-items: center;
        list-style: none;
        >li{
            // Extends
            @extend .px-3;
            @extend .py-1;
            @extend .m-1;

            // Colors
            background-color: theme-var($--theme-color1);

            // Border
            border-width: 1px;
            border-style: solid;
            border-color: theme-var($--theme-color2);
            border-radius: 50rem;

            &:hover{
                // Colors
                background-color: theme-var($--theme-background-code);
            }
        }
    }
}